@tailwind base;

@tailwind components;

@tailwind utilities;

.known-class {
  background-color: aliceblue;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.5);
  }
}
